

<div class="container" ng-show="players.length" style="background-color: white;">


  <!-- <div ng-switch="crowbarScenario">
    <p> You have a crowbar!</p>
    {{crowbarScenario}}
  </div>

  <div ng-switch="flaregunScenario">
    <p> You have a flare gun! </p>
    {{flaregunScenario}}
  </div> -->


<h4 class="centered">You have {{item.points}} points</h4>
<h3>Welcome, {{item.name}}</h3>
<p> You, {{item.name}}, are in the deep woods with a {{item.gear}}.  But you knew that, didn't you??<br> You have a few options ahead of you.  </p>
{{item.scenario}}
{{factory.player[0].name}}


</div>
